<h3><%= "Question: " %><%=params[:question] %> </h3>
<p><strong><%= "Answer: " %></strong><%= @answer %> </p>
<p class="btn-primary text-light w-50 text-center rounded", ><%= link_to "back to ask", ask_path %></p>
